@media (max-width: 894px) {

	nav {
		display: none;
	}

	.main-nav {
		display: flex;
	}

	aside {
		display: none;
	}

	main {
		margin-left: 0rem;
	}

	.header-menu {
		display: block;
		padding-right: 3%;
		position: fixed;
		right: 0;
	}

	.header-menu summary {
		list-style: none;
		cursor: pointer;
		color: aliceblue;
	}

	.header-menu[open] > summary {
		transform: rotate(90deg);
    transition: transform .2s ease .16s;
	}

	.header-menu > summary {
		transform: rotate(0deg);
    transition: transform .2s ease .16s;
	}

	.nav-ul {
		flex-direction: column;
		font-weight: 400;
		position: absolute;
		background-color: #161F31;
		right: 0;
    font-size: 1.5rem;
    line-height: 2rem;
		padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	}

	.header-menu li {
		margin-bottom: 0.5rem;
	}

	.task-div {
		display: block;
		line-height: 1.5rem;
	}

}

@media (max-width: 670px) {

	.h1-main {
		display: none;
	}

}

@media (max-width: 440px) {

	.main-ul {
			flex-direction: column;
			align-items: baseline;
	}

	.main-ul li {
		margin-bottom: 0.5rem;
	}

	.main-ul li a {
		vertical-align: 0.2rem;
		font-size: 1.5rem;
		font-weight: 500;
	}

}