@media (max-width: 894px) {

	nav {
		display: none;
	}

	.main-nav {
		display: flex;
	}

	aside {
		display: none;
	}

	main {
		margin-left: 0rem;
	}

	.header-menu {
		display: block;
		padding-right: 1rem;
		position: absolute;
		right: 0;
		top: 0;
		padding-top: 1rem;
	}

	.header-menu summary {
		list-style: none;
		cursor: pointer;
		color: aliceblue;
	}

	.header-menu[open] > summary {
		transform: rotate(90deg);
    transition: transform .2s ease .16s;
	}

	.header-menu > summary {
		transform: rotate(0deg);
    transition: transform .2s ease .16s;
	}

	.nav-ul {
		position: absolute;
		display: flex;
		flex-direction: column;
		font-weight: 400;
		right: 0;
    font-size: 1rem;
		background-color: rgb(22, 31, 49);
		margin-right: -1rem;
	}

	.header-menu li {
		padding: 0.5rem 2rem;
	}

	.task-div {
		display: block;
		line-height: 1.5rem;
	}

}

@media (max-width: 670px) {

	.h1-main {
		display: none;
	}

	.main-nav {
	padding-bottom: 1rem;
	}

}
