@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
	height: calc(100vh - max(80px, 8vh));
}

h1, h2, h3, h4, p {
	cursor: default;
}

body {
	font-family: 'Inter', sans-serif;
  font-weight: 500;
	position: relative;
	cursor: auto;
	min-height: 100%;
}

footer {
	background: #161F31;
	width: 100%;
	position: absolute;
	height: max(25px, 4vh);
	bottom: 0;
}

footer p {
	color: #94A3B8;
	text-align: center;
	display: grid;
	margin-top: 0.5rem;
}

summary {
	display: block;
	cursor: pointer;
	outline: 0; 
}

/* HEADER */

header {
	top: 0;
	position: fixed;
	display: flex;
	background-color: #161F31;
	width: 100%;
	height: max(80px, 8vh);
	align-items: center;
}

.logo {
	width: 4%;
	align-self: center;
	margin-left: 8px;
}

.nav-ul {
	display: flex;
	font-weight: 400;
	column-gap: 3vw;
	font-size: 1.5rem;
  align-items: center;
	margin-left: 12vw;
	margin-right: 2vw;
}

.nav-ul li a {
	text-decoration: none;
	color: #F1F5F980;
}

.nav-ul li a.active {
	color: #F1F5F9;
}

.header-menu {
	display: none;
}

/* ASIDE */

aside {
	background: linear-gradient(156deg, #F8FAFC 0%, #E0E7FF 100%);
	position: fixed;
	padding-top: min(40px, 4vh);
	padding-left: 1.5rem;
	padding-right: 4rem;
	height: 100vh;
}

.aside-ul {
	display: flex;
	flex-direction: column;
	font-weight: 400;
	text-align: left;
}

.aside-details {
	color: #475569;
	margin-bottom: 1rem;
}

.aside-summary {
	font-size: 1.5rem;
	line-height: 2.2rem;
	font-weight: 500;
	letter-spacing: 0em;
	text-align: left;
	color: #0F172A;
	margin-left: 1.2rem;
}

.summary-li {
	font-weight: 400;
	text-align: left;
	padding-top: 0.3rem;
	margin-left: 1.2rem;
	font-size: 1.3rem;
}

.summary-li a {
	color: #475569;
	text-decoration: none;
	margin-bottom: 8px;
	padding-left: 10px;
  display: block;
}

summary::-webkit-details-marker {
	display: none;
}

.aside-details::before {
    content: "";
}

.aside-details[open] > .aside-summary::before {
    font-family: "ionicons";
    transform: rotate(90deg);
}

.aside-details > .aside-summary::before {
    position: absolute;
    will-change: transform;
    transition: transform 300ms ease;
    font-family: "ionicons";
    color: #475569;
    font-size: 1.1rem;
    content: "\f125";
    left: 0;
    display: inline-block;
    width: 1.6rem;
    text-align: center;
}

.aside-details .aside-summary .icon {
	display: inline;
	padding-left: 1.6rem;
	margin-right: 0.5rem;
	color: #475569;
	font-size: 1.4rem;
	position: relative;
}
.aside-details .aside-summary .icon::before {
	display: inline-block;
	width: 1.6rem;
	text-align: center;
}

/* MAIN */

main {
	margin-top: max(80px, 8vh);
	padding: 0 1.5rem 1.5rem 1.5rem;
	margin-left: 16rem;
	min-height: calc(92vh - max(80px, 8vh));
	background-color: rgb(237, 238, 240);
	background-repeat: no-repeat;
}

.main-ul {
	padding-top: min(10px, 1vh);
	display: flex;
	align-items: center;
  flex-wrap: wrap;
}

.main-ul li a {
	text-decoration: none;
	color: #475569;
	vertical-align: 0.3rem;
	font-size: 1.2rem;
	font-weight: 500;
}

.h1-main {
	font-size: 2.2rem;
	line-height: 3.2rem;
	font-weight: 500;
	color: #161F31;
	padding-bottom: 0.5rem;
}

.main-section p {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 500;
	letter-spacing: 0em;
	color: #161F31;
}

.main-section p a {
	vertical-align: 0.5rem;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 500;
	margin-left: 0.25rem;
	color: #475569;
}

.main-image {
	margin-top: 2.5rem;
	height: clamp(40px, 40vh, 400px);
	width: clamp(50px, 50vw, 500px);
	display: flex;
  align-items: center;
	margin-bottom: 2.5rem;
}

.main-image img {
	margin-block: 1rem;
	width: clamp(50px, 50vh, 500px);
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 0.25rem solid #0F172A;
}

/* INFORMATION SECTION */

.information-section {
	background-color: #0F172A;
	border-radius: 5%;
	max-width: 720px;
}

.information-section h1 {
	color: #F1F5F9;
	padding: 1rem 1.5rem 1rem 1.5rem;
	font-size: 2.2rem;
	line-height: 3.2rem;
	font-weight: 500;
	text-align: center;
}

.information-div {
	display: flex;
	padding: 0 0 0.5rem 0.75rem;
}

.information-div img {
	width: 1rem;
}

.information-div p {
	color: #F1F5F9;
	font-size: 1rem;
	padding-left: 0.5rem;
}

.information-div p a {
	color: #F1F5F9;
	text-decoration: none;
	font-size: 1rem;
	padding-left: 0.5rem;
}

.directions {
	padding-top: 1rem;
	border-top: 2px solid #F1F5F9;;
}

/* TASKS SECTION */

.task-section {
	padding-bottom: 1rem;
	border: 1px solid rgba(0, 0, 255, .2);
	background-color: rgb(255, 255, 255);
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
	border-radius: 14px;
	margin-bottom: 2.5rem;
	max-width: 902px;
}

.task-section h2 {
	font-size: 1.6rem;
	font-weight: 500;
	color: #161F31;
	padding-bottom: 1rem;
	padding-top: 0.5rem;
	margin: 1rem 0 0 1rem;
}


.task-descripton {
	margin-left: 1.5rem;
	font-size: 1.3rem;
	font-weight: 500;
	color: #161F31;
}

.task-div {
	display: flex;
	padding-left: 3rem;
	font-weight: 500;
	padding-top: 1.2rem;
	margin-right: 1rem;
}

.task-div a {
	text-decoration: none;
	color: #6366F1;
	font-size: 1.5rem;
	white-space: nowrap;
	padding-right: 1.5rem;
}

.task-div p {
	font-size: 1.5rem;
}

/* THEORYBLOCK SECTION */

.theoryblock-section {
	padding-bottom: 1rem;
	max-width: 902px;
	border: 1px solid rgba(0, 0, 255, .2);
	background-color: rgb(255, 255, 255);
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
	border-radius: 14px;
	margin-bottom: 2.5rem;
}

.theoryblock-section h2 {
	font-size: 2rem;
	font-weight: 500;
	color: #161F31;
	padding-bottom: 1rem;
	padding-top: 0.5rem;
	margin-left: 1rem;
}


.theoryblock-list {
	font-weight: 500;
	color: #161F31;
}

.theoryblock-div {
	display: flex;
	flex-direction: column;
	padding-left: 2rem;
	padding-bottom: 1.5rem;
	padding-right: 2rem;
	font-size: 1.2rem;
}

.theoryblock-div h3, a {
	display: inline;
	margin-left: -0.5rem;
	text-decoration: none;
	color: #6366F1;
	font-weight: 500;
	font-size: 1.5rem;
}

.theoryblock-div p {
	white-space: pre-line;
}

.theoryblock-div img {
	margin: 2rem 2rem 0.5rem 0;
}

/* THEORYTABLET SECTION */

.theorytablet-section {
	padding-bottom: 1rem;
	max-width: 760px;
	display: flex;
	margin-bottom: 2.5rem;
	flex-wrap: wrap;
}

.theorytablet-div {
	display: flex;
	flex-direction: column;
	padding-bottom: 1.5rem;
	font-size: 1.2rem;
	flex-basis: 27%;
	margin: 0 auto;
}

.theorytablet-div h3 {
	display: flex;
	margin-left: -0.5rem;
	text-decoration: none;
	color: #6366F1;
	font-weight: 500;
	font-size: 1.5rem;
	justify-content: center;
}

.theorytablet-div p {
	display: table;
  margin: 0 auto; /* для центрирования display: table; не нужно указывать ширину блока, она рассчитывается самостоятельно */ 
  white-space: pre-line; /* не нужен <br> */ 
  word-wrap: break-word; /* чтобы слова переносились на маленьком экране */ 
}

.theorytablet-section table {
	margin: auto;
  border: 2px solid rgb(200, 200, 200);
	box-shadow: 4px 4px 2px 1px white;
}

.theorytablet-section td, .theorytablet-section th {
	padding: 0.5rem;
	border: 2px solid rgb(190, 190, 190);
	text-align: center;
	vertical-align: middle;
	white-space: pre-line;
}

tr:nth-child(even) {
  background-color: #eee;
}

th[scope='col'] {
  background-color: #161F31;;
  color: #fff;
}

th[scope='row'] {
  background-color: #6366F1;
	color: #fff;
}

/* PRACTISE SECTION */

.practise-section {
	padding-bottom: 1rem;
	max-width: 760px;
	border: 1px solid rgba(0, 0, 255, .2);
	background-color: rgb(255, 255, 255);
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
	border-radius: 14px;
	margin-bottom: 2.5rem;
}

.practise-section h2 {
	font-size: 2rem;
	font-weight: 500;
	color: #161F31;
	padding-bottom: 1rem;
	padding-top: 0.5rem;
	margin-left: 1rem;
}